<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="name.dudkov.android.team_mapper"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="20"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:icon="@drawable/icon"
            android:name=".MainApplication">
        <activity
                android:name=".ui.StartActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.PrefsActivity"/>
        <activity android:name=".ui.AddPointActivity"/>

        <service
                android:name=".service.GpsService"
                android:enabled="true"/>

    </application>
</manifest>
